<%- include('partials/head.ejs') %>
    <title>Message board</title>
</head>

<body>
    <header>
        <%- include('partials/header.ejs') %>        
    </header>

    <main class="homepage-main">
        <section class="hero-container">
            <div class="hero-title-container">
                <h1>Members-only message board</h1>
            </div>
        </section>
    </main>

    
<%- include('partials/footer.ejs') %>